name: Python Code Runner

on:
  workflow_dispatch:
    inputs:
      python_code:
        description: 'Python code to run'
        required: true

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Execute Python code
      run: |
        python3 -c "${{ github.event.inputs.python_code }}"
