name: Debug with sshx

on: [push, workflow_dispatch]

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Setup sshx for debugging
        run: |
          curl -sSf https://sshx.io/get | sh -s run
